/*** Type ***/
/* Make this the same color as the bottom footer */
html { background-color: #dddddd; }

body { background-color: #fff; }

body, button, input, select, textarea { color: #444; font-family: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 { font-family: "Palatino", "DroidSerif", "Droid Serif", Georgia, serif; margin: 10px 0; line-height: 1.2; }

h2, h3, h4, h5, h6 { color: #444; }

h1 { font-size: 2em; margin: 20px 0 10px; line-height: 1.1; }

h2 { font-size: 1.65em; margin: 15px 0 10px; line-height: 1.1; }

h3 { font-size: 1.25em; }

h4 { font-size: 1.1em; }

h5 { font-size: 1em; }

h6 { font-size: .9em; }

p, pre { margin: 10px 0; }

code { color: #d14; }

a { -webkit-transition: background 0.1s ease; transition: background 0.1s ease; }

/*!

* Type 
*
*/
/*** Small width ***/
body, button, input, select, textarea, #search-container .gsc-control-cse, #search-container .gsc-control-cse .gsc-table-result { font-size: 0.875em; line-height: 1.3; font-family: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; }

#header-top h1 { font-family: "Palatino", "DroidSerif", "Droid Serif", Georgia, serif; font-weight: 300; }

h1, h2 { font-family: "Palatino", "DroidSerif", "Droid Serif", Georgia, serif; font-weight: 500; }

h2 .parentlink { font-family: "Palatino", Georgia, serif; font-weight: 400; }

h3, h4, h5, h6 { font-family: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 600; }

h1 { font-size: 2em; margin: 30px 0px 10px; }

h2 { font-size: 1.65em; margin: 25px 0px 10px; }

h3 { font-size: 1.25em; margin: 20px 0px 10px; line-height: 1.25; }

h4 { font-size: 1.1em; margin: 15px 0px 10px; line-height: 1.3; }

h5 { font-size: 1em; margin: 10px 0px 10px; line-height: 1.3; }

h6 { font-size: .9em; margin: 10px 0px 10px; line-height: 1.3; }

a.mybyu, a.sign-in, .open #search-button, #search-submit, .gcse-wrapper input.gsc-search-button, .nav-container a { font-family: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; }

.nav-container .mega a, .nav-container .sub a { font-weight: 500; }

#primary-nav .mega li.featured a { font-weight: 600; }

body th, body tfoot { font-weight: 500; }
body strong, body dt { font-weight: 600; }

.sc, .small-caps { font-family: "Whitney SSm SC A", "Whitney SSm SC B", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; font-style: normal; }

.lnum, .lining-numbers { font-family: "Whitney SSm Lining Num A", "Whitney SSm Lining Num B", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; font-style: normal; }

#page-footer h2 { font-family: "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 600; }

/*** Medium width ***/
@media all and (min-width: 37.5em) { body, button, input, select, textarea { font-size: 0.9375em; }
  h1 { font-size: 2.2em; line-height: 40px; margin: 30px 0px 20px; }
  h2 { font-size: 1.8em; line-height: 30px; margin: 30px 0px 20px; }
  h3 { font-size: 1.3em; line-height: 25px; margin: 25px 0px 10px; }
  h4 { font-size: 1.15em; line-height: 20px; margin: 25px 0px 10px; }
  h5 { font-size: 1em; line-height: 20px; margin: 20px 0px 10px; }
  h6 { font-size: .9em; line-height: 20px; margin: 15px 0px 10px; } }
/*** Large width ***/
@media all and (min-width: 56.25em) { body, button, input, select, textarea { font-size: 1em; } }
/*** Larger width ***/
/*** Extra large width ***/
@media all and (min-width: 95em) { body, button, input, select, textarea { font-size: 16px; line-height: 22px; } }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }

.group:after {
  content: "";
  display: table;
  clear: both;
}

 #content header {margin-top: 24px;}

.quote {border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; margin: 24px 0 0; padding-bottom: 30px;}
.quote .container {padding: 0 0 0 48px; position: relative;}
.quote .container:before {content: '“'; height: 48px; position: absolute;top: 28px;left: -10px;font-size: 96px;color: #ccc;}

.link-list {width: 50%; float: left;}
.link-list ul {list-style: none; margin: 0;}
.link-list ul li {margin: 12px 0;}

.link-list ul li:first-child {background: #369; display: inline-block; padding: 6px 12px; border-radius: 6px; margin: 0;}
.link-list ul li:first-child a {color: white;}

.highlight {background: #eee; padding: 12px; margin: 12px 0; border-radius: 6px;}
.highlight h4 {margin-top: 6px;}

@media all and (max-width: 1519px) {
  .quote .container:before {top: -22px;}
}

@media all and (max-width: 400px) {
  .quote .container {padding: 0 0 0 12px;}
  .quote .container:before {display: none;}
}

@media all and (max-width: 899px) {
  .link-list {width: 100%; float: none;}
  .link-list ul li {margin: 8px 0;}
}


/*# sourceMappingURL=ratings-home.css.map */