@import "compass"

@import "shared/colors"
@import "shared/mixins"
@import "shared/variables"

@import "base/type"
@import "responsive/type"



*
	box-sizing: border-box
	position: relative



.instructors
	padding: 0.75em 1em 1em
	background: $blue10
	border: 1px solid $blue6
	margin: 2.5em 0
	border-radius: 0.25em
	h1
		margin: 0 0 0.25em
		border-bottom: 1px solid #666
	.photo
		width: 100px
		display: inline-block

	h2
		display: inline-block

form
	h2
		border-top: 1px solid #666
		font-size: 1.5em
		margin-left: -1.33333em
		padding: 1em 0 0

	ol
		margin-left: 2em


.question
	font-size: 1.1em
	margin: 1.5em 0 2.5em

	.prompt
		color: black
		line-height: 1.4
		margin-bottom: 1.25em

	.options
		margin: 1em 0

	.option
		padding: 0.25em 0
		margin: 0 -0.25em
		input 
			position: absolute
			top: 1em
			left: 1em
		label 
			border: 1px solid $blue7
			display: block
			padding: 0.5em 1em
			text-align: center
			border-radius: 1.1em
			background-color: $blue10
			z-index: 2
			+background-image( linear-gradient( $blue10, mix($blue7, $blue8) ) )
			&:hover
				+background-image( linear-gradient( $blue11, $blue9 ) )

		input:checked + label
			+background-image( linear-gradient( $blue4, $blue2 ) )
			color: white

	.feedback
		textarea
			width: 100%
			resize: vertical





