extends _layout

mixin addStats
	.stats

		.numbers
			h4 Results
			dl
				dt 
					span.title Section
					span.abbr(aria-hidden="true") Sec
				dd 3.5 &ndash; 4.5

				dt 
					span.title Department
					span.abbr(aria-hidden="true") Dept
				dd 3.5 &ndash; 4.5

				dt 
					span.title College
					span.abbr(aria-hidden="true") Coll
				dd 3.5 &ndash; 4.5

				dt 
					span.title University
					span.abbr(aria-hidden="true") Univ
				dd 3.5 &ndash; 4.5

		.graph(aria-hidden="true")
			img(src="svg/rating-web-view-svg.php?sm=4&sc=1&dm=4.1&dc=.4&cm=4.2&cc=.3&um=4.3&uc=.2")

		
		.levels
			h4 Levels
			dl
				dt.level-5 5
				dd.level-5 Very Successful

				dt.level-4 4
				dd.level-4 Successful

				dt.level-3 3
				dd.level-3 Moderately Successful

				dt.level-2 2
				dd.level-2 Not Very Successful

				dt.level-1 1
				dd.level-1 Not At All Successful
	+addComments()


mixin addComments
	.comments
		h4 
			| Comments 
			span.number (10)
		ol
			li It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.
			li However little known the feelings or views of such a man may be on his first entering a neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or other of their daughters.
			li "My dear Mr. Bennet," said his lady to him one day, "have you heard that Netherfield Park is let at last?"
			li Mr. Bennet replied that he had not.
			li "But it is," returned she; "for Mrs. Long has just been here, and she told me all about it."
			li Mr. Bennet made no answer.
			li "Do you not want to know who has taken it?" cried his wife impatiently.
			li "You want to tell me, and I have no objection to hearing it."
			li This was invitation enough.
			li "Why, my dear, you must know, Mrs. Long says that Netherfield is taken by a young man of large fortune from the north of England; that he came down on Monday in a chaise and four to see the place, and was so much delighted with it, that he agreed with Mr. Morris immediately; that he is to take possession before Michaelmas, and some of his servants are to be in the house by the end of next week."




//-	===============
//-	Overrides
//-	===============

block pageTitle
	| BYU - Student Ratings Report

block heading
	| Student Ratings 
	span.expand of the Learning Experience

block nav
	.nav-container

		// Primary Nav
		nav#primary-nav(role='navigation'): ul
			li 
				a.single.current(href='#') Home
			li 
				a.single(href='#') FAQ


block content

	header.report-header

		h3.report-title BYU Student Rating Individual Section Report

		h1 
			span.course ECON 110 
			span.courseInfo.yearterm Fall 2010 
			span.courseInfo.sections Section 002 

		h2.instructor Kay Stice
		
		div.cumulative
			h3 Cumulative Course Evaluation
			dl
				dt Instruction
				dd 4.55
				dt Aims
				dd 4.32


	div.report(role="tabpanel")

		ul(class="nav nav-tabs" role="tablist")
			li(role="presentation" class="active")
				a(href="#overview" aria-controls="overview" role="tab" data-toggle="tab") Overview
			li(role="presentation")
				a(href="#instructor" aria-controls="instructor" role="tab" data-toggle="tab") 
					| Instructor 
					span.expand Effectiveness
			li(role="presentation")
				a(href="#aims" aria-controls="aims" role="tab" data-toggle="tab") 
					span.expand BYU
					|  Aims
			li(role="presentation")
				a(href="#overall" aria-controls="overall" role="tab" data-toggle="tab")
					| Overall 
					span.expand Instructor
			li(role="presentation")
				a(href="#work" aria-controls="work" role="tab" data-toggle="tab") 
					| Workload 
			li(role="presentation")
				a(href="#grading" aria-controls="grading" role="tab" data-toggle="tab") 
					| Grading 

		div.tab-content
			div(role="tabpanel" class="tab-pane fade in active" id="overview")
				a.btn.btn-success.btn-lg.print-btn Print this report
				div.scroller
					div.ratings.aspectratio
						iframe(src="svg/ratings-report-svg-template.php" width="558" height="755")


			div(role="tabpanel" class="tab-pane fade" id="instructor")
				h2 Instructor - Borup, Michael Brett

				.report-item
					.questionInfo
						h3 Helping students who indicate a need for assistance
						p How effective was this instructor (not the TA) in helping students who indicated a need for assistance?
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Meaningful opportunities and encouragement
						p How effective was the instructor (not the TA) in providing meaningful opportunities and encouragement for you to actively participate in the learning process?
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Teaching challenging concepts and skills
						p How effective was the instructor (not the TA) in teaching challenging concepts or skills?
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Demonstrating respect for individual students
						p How effective was this instructor in demonstrating respect for students and their opinions, questions, or concerns?
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Organizing course content to enhance learning
						p How effective was the instructor in organizing the course content to enhance learning?
						.response-rate 104/698 responded
					+addStats


			div(role="tabpanel" class="tab-pane fade" id="aims") 
				h2 What effect did this course and instructor have in helping you achieve the Aims of a BYU Education?

				.report-item
					.questionInfo
						h3 Spiritually Strengthening:
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Intellectually Enlarging:
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Character Building:
						.response-rate 104/698 responded
					+addStats

				.report-item
					.questionInfo
						h3 Leading to Lifelong Learning and Service:
						.response-rate 104/698 responded
					+addStats

			div(role="tabpanel" class="tab-pane fade" id="overall")
				h2 Comparing this course with other university courses you have taken, please indicate an OVERALL rating for the following:

				.report-item
					.questionInfo
						h3 Instructor: Borup, Michael Brett
						.response-rate 104/698 responded
					+addStats

			div(role="tabpanel" class="tab-pane fade" id="work") 
				h2 Time Spent Outside of Class

				.report-item
					.questionInfo
						h3 For this course, about how many hours per week did you spend out of class (doing assignments, readings, etc.)?
						.response-rate 104/698 responded
						.stats
							img.chart.workload(src="svg/chart-svg.php?title=Workload+per+credit+hour&legendY%5B0%5D=4&legendY%5B1%5D=3&legendY%5B2%5D=2&legendY%5B3%5D=1&legendY%5B4%5D=0&legendX%5B0%5D=Section&legendX%5B1%5D=Dept&legendX%5B2%5D=College&legendX%5B3%5D=Univ&decimals=1&data%5B0%5D=2.6&data%5B1%5D=2.5&data%5B2%5D=2.5&data%5B3%5D=2.1")
					+addComments

			div(role="tabpanel" class="tab-pane fade" id="grading")
				h2 Grading

				.report-item
					.questionInfo
						img.chart.gpa(src="svg/chart-svg.php?title=Mean+GPA&legendY%5B0%5D=4&legendY%5B1%5D=3&legendY%5B2%5D=2&legendY%5B3%5D=1&legendY%5B4%5D=0&legendX%5B0%5D=Section&legendX%5B1%5D=Dept&legendX%5B2%5D=College&legendX%5B3%5D=Univ&decimals=2&data%5B0%5D=3.6&data%5B1%5D=3.28&data%5B2%5D=3.47&data%5B3%5D=3.4")
						img.chart.distribution(src="svg/chart-svg.php?title=Grade+distribution+%28%25%29&legendY%5B0%5D=A&legendY%5B1%5D=B&legendY%5B2%5D=C&legendY%5B3%5D=D&legendY%5B4%5D=E&legendY%5B5%5D=W&legendX%5B0%5D=Section&legendX%5B1%5D=Dept&legendX%5B2%5D=College&legendX%5B3%5D=Univ&decimals=1&data%5B0%5D%5B0%5D=42.6&data%5B0%5D%5B1%5D=31.6&data%5B0%5D%5B2%5D=15.5&data%5B0%5D%5B3%5D=6.8&data%5B0%5D%5B4%5D=3.1&data%5B0%5D%5B5%5D=7.1&data%5B1%5D%5B0%5D=43.9&data%5B1%5D%5B1%5D=40.3&data%5B1%5D%5B2%5D=7.8&data%5B1%5D%5B3%5D=3.1&data%5B1%5D%5B4%5D=1.2&data%5B1%5D%5B5%5D=3.6&data%5B2%5D%5B0%5D=57.5&data%5B2%5D%5B1%5D=33.2&data%5B2%5D%5B2%5D=4.9&data%5B2%5D%5B3%5D=1.2&data%5B2%5D%5B4%5D=1&data%5B2%5D%5B5%5D=2.2&data%5B3%5D%5B0%5D=56.6&data%5B3%5D%5B1%5D=26.8&data%5B3%5D%5B2%5D=7.9&data%5B3%5D%5B3%5D=2.2&data%5B3%5D%5B4%5D=2.1&data%5B3%5D%5B5%5D=3.3")



block footer-scripts
	script(src="js/jquery-2.1.3.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/ratings.js")




//- Remove stuff
block breadcrumb
block search-menu
block sign-in

block footer
